<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Resume</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin" />
  <link rel="preload" as="style"
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"
    media="print" onload="this.media='all'" />
  <noscript>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" />
  </noscript>
  <link href="/assets/css/font-awesome/css/all.min.css" rel="stylesheet">
  <link href="/assets/css/mdb.min.css" rel="stylesheet">
  <link href="/assets/css/aos.css" rel="stylesheet">
  <link href="/assets/css/main.css" rel="stylesheet">
  <noscript>
    <style type="text/css">
      [data-aos] {
        opacity: 1 !important;
        transform: translate(0) scale(1) !important;
      }
    </style>
  </noscript>
</head>

<body class="bg-light" id="top">
  <header class="d-print-none">
    <div class="container text-center text-lg-left">
      <div class="pt-4 clearfix">
        <h1 class="site-title mb-0">
          <%= contact.name %>
        </h1>
        <div class="site-nav">
          <nav role="navigation">
            <ul class="nav justify-content-center">
              <li class="nav-item"><a class="nav-link" href="#about" title="About"><span
                    class="menu-title">About</span></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#skills" title="Skills"><span
                    class="menu-title">Skills</span></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#experience" title="Experience"><span
                    class="menu-title">Experience</span></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#education" title="Education"><span
                    class="menu-title">Education</span></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#portfolio" title="Portfolio"><span
                    class="menu-title">Portfolio</span></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#references" title="References"><span
                    class="menu-title">References</span></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#contact" title="Contact"><span
                    class="menu-title">Contact</span></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <div class="page-content">
    <div class="container">
      <div class="resume-container">
        <div class="shadow-1-strong bg-white my-5" id="intro">
          <div class="bg-info text-white">
            <div class="cover bg-image"><img src="/assets/images/header-background.jpg" />
              <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);backdrop-filter: blur(2px);">
                <div class="text-center p-5">
                  <div class="avatar p-1"><img class="img-thumbnail shadow-2-strong"
                      src="/assets/images/profileImage.jpg" width="160" height="160" /></div>
                  <div class="header-bio mt-3">
                    <div data-aos="zoom-in" data-aos-delay="0">
                      <h2 class="h1">
                        <%= contact.name %>
                      </h2>
                      <p>
                        <%= contact.about %>
                      </p>
                    </div>
                    <div class="header-social mb-3 d-print-none" data-aos="zoom-in" data-aos-delay="200">
                      <nav role="navigation">
                        <ul class="nav justify-content-center">
                          <li class="nav-item"><a class="nav-link" href="<%= contact.socialNetwork.linkedIn %>"
                              title="Instagram"><i class="fab fa-linkedin"></i><span
                                class="menu-title sr-only">LinkedIn</span></a>
                          </li>
                          <li class="nav-item"><a class="nav-link" href="<%= contact.socialNetwork.gitHub %>"
                              target="_BLANK" title="Github"><i class="fab fa-github"></i><span
                                class="menu-title sr-only">Github</span></a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                    <div class="d-print-none"><a class="btn btn-outline-light btn-lg shadow-sm mt-1 me-3"
                        href="/assets/pdf/material-resume.pdf" data-aos="fade-right" data-aos-delay="700">Download
                        CV</a><a class="btn btn-info btn-lg shadow-sm mt-1" href="#contact" data-aos="fade-left"
                        data-aos-delay="700">Hire Me</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shadow-1-strong bg-white my-5 p-5" id="about">
          <div class="about-section">
            <div class="row">
              <div class="col-md-6 about-me-text">
                <h2 class="h2 fw-light mb-4">About Me</h2>
                <p>
                  <%= contact.aboutMe[1] %>
                </p>
                <p>
                  <%= contact.aboutMe[0] %>
                </p>
              </div>
              <div class="col-md-5 offset-lg-1">
                <div class="row mt-2">
                  <h2 class="h2 fw-light mb-4">Bio</h2>
                  <div class="col-sm-5">
                    <div class="pb-2 fw-bolder"><i class="far fa-calendar-alt pe-2 text-muted"
                        style="width:24px;opacity:0.85;"></i> Age</div>
                  </div>
                  <div class="col-sm-7">
                    <div class="pb-2">
                      <%= customOptions.birth %>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="pb-2 fw-bolder"><i class="far fa-envelope pe-2 text-muted"
                        style="width:24px;opacity:0.85;"></i>Email</div>
                  </div>
                  <div class="col-sm-7">
                    <div class="pb-2">
                      <%= contact.email %>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="pb-2 fw-bolder"><i class="fab fa-discord pe-2 text-muted"
                        style="width:24px;opacity:0.85;"></i> Discord</div>
                  </div>
                  <div class="col-sm-7">
                    <div class="pb-2">lucasdepessoa#2269</div>
                  </div>
                  <div class="col-sm-5">
                    <div class="pb-2 fw-bolder"><i class="fas fa-phone pe-2 text-muted"
                        style="width:24px;opacity:0.85;"></i> Phone</div>
                  </div>
                  <div class="col-sm-7">
                    <div class="pb-2">+55 <%= contact.ddd %>
                        <%= contact.cell %>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="pb-2 fw-bolder"><i class="fas fa-map-marker-alt pe-2 text-muted"
                        style="width:24px;opacity:0.85;"></i> Address</div>
                  </div>
                  <div class="col-sm-7">
                    <div class="pb-2">
                      <%= contact.address %> <span> - </span>
                        <%= contact.district %> <span>,</span>
                          <%= contact.city %> <span> - </span>
                            <%= contact.state %> <span>,</span>
                              <%= contact.country %><span>.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="pt-4 pb-4 text-muted text-center d-print-none">
    <div class="container">
      <div class="my-3">
        <div class="h4"><%= contact.name %></div>
        <div class="footer-nav">
          <nav role="navigation">
            <ul class="nav justify-content-center">
              <li class="nav-item"><a class="nav-link" href="<%= contact.socialNetwork.linkedIn %>" title="LinkedIn"><i class="fab fa-linkedin"></i><span
                    class="menu-title sr-only">LinkedIn</span></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="<%= contact.socialNetwork.gitHub %>" title="Github"><i class="fab fa-github"></i><span
                    class="menu-title sr-only">Github</span></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="text-small">
        <div class="mb-1">&copy; Material Resume. All rights reserved.</div>
        <div>Design - <a href="https://templateflip.com/" target="_blank">TemplateFlip</a></div>
        <div>Custom - <a href="https://github.com/lucasdepessoa/curriculum" target="_blank">@lucasdepessoa</a></div>
      </div>
    </div>
  </footer>
  <script src="/assets/scripts/mdb.min.js?ver=1.2.1"></script>
  <script src="/assets/scripts/aos.js?ver=1.2.1"></script>
  <script src="/assets/scripts/main.js?ver=1.2.1"></script>
</body>

</html>