<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Resume</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin" />
  <link rel="preload" as="style"
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"
    media="print" onload="this.media='all'" />
  <noscript>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" />
  </noscript>
  <link href="/assets/css/font-awesome/css/all.min.css" rel="stylesheet">
  <link href="/assets/css/mdb.min.css" rel="stylesheet">
  <link href="/assets/css/aos.css" rel="stylesheet">
  <link href="/assets/css/main.css" rel="stylesheet">
  <noscript>
    <style type="text/css">
      [data-aos] {
        opacity: 1 !important;
        transform: translate(0) scale(1) !important;
      }
    </style>
  </noscript>
</head>

<body class="bg-light" id="top">
  <header class="d-print-none">
    <div class="container text-center text-lg-left">
      <div class="pt-4 clearfix">
        <h1 class="site-title mb-0">
          <%= contact.name %>
        </h1>
        <div class="site-nav">
          <nav role="navigation">
            <ul class="nav justify-content-center">
              <li class="nav-item"><a class="nav-link" href="#about" title="About"><span
                    class="menu-title">About</span></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#skills" title="Skills"><span
                    class="menu-title">Skills</span></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#experience" title="Experience"><span
                    class="menu-title">Experience</span></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#education" title="Education"><span
                    class="menu-title">Education</span></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#qualifications" title="Qualifications"><span
                class="menu-title">Qualifications</span></a>
              </li>
              <!-- <li class="nav-item"><a class="nav-link" href="#portfolio" title="Portfolio"><span
                    class="menu-title">Portfolio</span></a>
              </li> -->
              <!-- <li class="nav-item"><a class="nav-link" href="#references" title="References"><span
                    class="menu-title">References</span></a>
              </li> -->
              <li class="nav-item"><a class="nav-link" href="#contact" title="Contact"><span
                    class="menu-title">Contact</span></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <div class="page-content">
    <div class="container">
      <div class="resume-container">
        <div class="shadow-1-strong bg-white my-5" id="intro">
          <div class="bg-info text-white">
            <div class="cover bg-image"><img src="/assets/images/header-background.jpg" />
              <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);backdrop-filter: blur(2px);">
                <div class="text-center p-5">
                  <div class="avatar p-1"><img class="img-thumbnail shadow-2-strong"
                      src="/assets/images/profileImage.jpg" width="160" height="160" /></div>
                  <div class="header-bio mt-3">
                    <div data-aos="zoom-in" data-aos-delay="0">
                      <h2 class="h1">
                        <%= contact.name %>
                      </h2>
                      <p>
                        <%= contact.about %>
                      </p>
                    </div>
                    <div class="header-social mb-3 d-print-none" data-aos="zoom-in" data-aos-delay="200">
                      <nav role="navigation">
                        <ul class="nav justify-content-center">
                          <li class="nav-item"><a class="nav-link" href="<%= contact.socialNetwork.linkedIn %>"
                              title="Instagram"><i class="fab fa-linkedin"></i><span
                                class="menu-title sr-only">LinkedIn</span></a>
                          </li>
                          <li class="nav-item"><a class="nav-link" href="<%= contact.socialNetwork.gitHub %>"
                              target="_BLANK" title="Github"><i class="fab fa-github"></i><span
                                class="menu-title sr-only">Github</span></a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                    <div class="d-print-none"><a class="btn btn-outline-light btn-lg shadow-sm mt-1 me-3"
                        href="/assets/pdf/material-resume.pdf" data-aos="fade-right" data-aos-delay="700">Download
                        CV</a><a class="btn btn-info btn-lg shadow-sm mt-1" href="#contact" data-aos="fade-left"
                        data-aos-delay="700">Hire Me</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shadow-1-strong bg-white my-5 p-5" id="about">
          <div class="about-section">
            <div class="row">
              <div class="col-md-6 about-me-text">
                <h2 class="h2 fw-light mb-4">About Me</h2>
                <p>
                  <%= contact.aboutMe[1] %>
                </p>
                <p>
                  <%= contact.aboutMe[0] %>
                </p>
              </div>
              <div class="col-md-5 offset-lg-1">
                <div class="row mt-2">
                  <h2 class="h2 fw-light mb-4">Bio</h2>
                  <div class="col-sm-5">
                    <div class="pb-2 fw-bolder"><i class="far fa-calendar-alt pe-2 text-muted"
                        style="width:24px;opacity:0.85;"></i> Age</div>
                  </div>
                  <div class="col-sm-7">
                    <div class="pb-2">
                      <%= customOptions.birth %>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="pb-2 fw-bolder"><i class="far fa-envelope pe-2 text-muted"
                        style="width:24px;opacity:0.85;"></i>Email</div>
                  </div>
                  <div class="col-sm-7">
                    <div class="pb-2">
                      <%= contact.email %>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="pb-2 fw-bolder"><i class="fab fa-discord pe-2 text-muted"
                        style="width:24px;opacity:0.85;"></i> Discord</div>
                  </div>
                  <div class="col-sm-7">
                    <div class="pb-2">lucasdepessoa#2269</div>
                  </div>
                  <div class="col-sm-5">
                    <div class="pb-2 fw-bolder"><i class="fas fa-phone pe-2 text-muted"
                        style="width:24px;opacity:0.85;"></i> Phone</div>
                  </div>
                  <div class="col-sm-7">
                    <div class="pb-2">+55 <%= contact.ddd %>
                        <%= contact.cell %>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="pb-2 fw-bolder"><i class="fas fa-map-marker-alt pe-2 text-muted"
                        style="width:24px;opacity:0.85;"></i> Address</div>
                  </div>
                  <div class="col-sm-7">
                    <div class="pb-2">
                      <%= contact.address %> <span> - </span>
                        <%= contact.district %> <span>,</span>
                          <%= contact.city %> <span> - </span>
                            <%= contact.state %> <span>,</span>
                              <%= contact.country %><span>.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shadow-1-strong bg-white my-5 p-5" id="skills">
          <div class="skills-section">
            <h2 class="h2 fw-light mb-4">Professional Skills</h2>
            <h4 class="h4 fw-light mb-4"> Hard Skills</h4>
            <div class="row">
              <div class="col-md-6 sidA">
                <% for(let i=0; i < customOptions.hardSkillsLength ; i++) { %>

                  <div class="mb-3"><span class="fw-bolder"><%= skills.hardSkills[i].tech %></span>
                    <div class="progress my-2 rounded rounded-border" style="height: 20px">
                      <div class="progress-bar <%= skills.hardSkills[i].style %>" role="progressbar" data-aos="zoom-in-right" data-aos-delay="200"
                        data-aos-anchor=".skills-section" style="width: <%= skills.hardSkills[i].width %>;" aria-valuenow="<%= skills.hardSkills[i].ariaValueNow %>" aria-valuemin="0"
                        aria-valuemax="100"><%= skills.hardSkills[i].level %></div>
                    </div>
                  </div>
              
                <% } %>

              </div>
              <div class="col-md-6 sidB">
                
                <% for(let i=customOptions.hardSkillsLength; i < skills.hardSkills.length ; i++) { %>

                  <div class="mb-3"><span class="fw-bolder"><%= skills.hardSkills[i].tech %></span>
                    <div class="progress my-2 rounded rounded-border" style="height: 20px">
                      <div class="progress-bar <%= skills.hardSkills[i].style %>" role="progressbar" data-aos="zoom-in-right" data-aos-delay="500"
                        data-aos-anchor=".skills-section" style="width: <%= skills.hardSkills[i].width %>;" aria-valuenow="<%= skills.hardSkills[i].ariaValueNow %>" aria-valuemin="0"
                        aria-valuemax="100"><%= skills.hardSkills[i].level %></div>
                    </div>
                  </div>
              
                <% } %>

              </div>
            </div>
            <h4 class="h4 fw-light mb-4 mt-4"> FrameWorks / Libs</h4>
            <div class="row">
              <div class="col-md-6 sidA">

                <% for(let i=0; i < customOptions.frameworksLength ; i++) { %>

                  <div class="mb-3"><span class="fw-bolder"><%= skills.frameworks[i].tech %></span>
                    <div class="progress my-2 rounded rounded-border" style="height: 20px">
                      <div class="progress-bar <%= skills.frameworks[i].style %>" role="progressbar" data-aos="zoom-in-right" data-aos-delay="800"
                        data-aos-anchor=".skills-section" style="width: <%= skills.frameworks[i].width %>;" aria-valuenow="<%= skills.frameworks[i].ariaValueNow %>" aria-valuemin="0"
                        aria-valuemax="100"><%= skills.frameworks[i].level %></div>
                    </div>
                  </div>
              
                <% } %>


              </div>  
              <div class="col-md-6 sidB">
                
                <% for(let i=customOptions.frameworksLength; i < skills.frameworks.length ; i++) { %>

                  <div class="mb-3"><span class="fw-bolder"><%= skills.frameworks[i].tech %></span>
                    <div class="progress my-2 rounded rounded-border" style="height: 20px">
                      <div class="progress-bar <%= skills.frameworks[i].style %>" role="progressbar" data-aos="zoom-in-right" data-aos-delay="1100"
                        data-aos-anchor=".skills-section" style="width: <%= skills.frameworks[i].width %>;" aria-valuenow="<%= skills.frameworks[i].ariaValueNow %>" aria-valuemin="0"
                        aria-valuemax="100"><%= skills.frameworks[i].level %></div>
                    </div>
                  </div>
              
                <% } %>
                
              </div>  
            </div>
            <h4 class="h4 fw-light mb-4 mt-4"> Soft Skills</h4>
            <div class="row">
              <div class="col-md-6 sidA corrige_print">

                <% for(let i=0; i < customOptions.softSkillsLength ; i++) { %>

                  <div class="mb-3 "><span class="fw-bolder"><%= skills.softSkills[i].tech %></span>
                    <div class="progress my-2 rounded rounded-border" style="height: 20px">
                      <div class="progress-bar <%= skills.softSkills[i].style %>" role="progressbar" data-aos="zoom-in-right" data-aos-delay="1400"
                        data-aos-anchor=".skills-section" style="width: <%= skills.softSkills[i].width %>;" aria-valuenow="<%= skills.softSkills[i].ariaValueNow %>" aria-valuemin="0"
                        aria-valuemax="100"><%= skills.softSkills[i].level %></div>
                    </div>
                  </div>
              
                <% } %>
        
              </div>
              <div class="col-md-6 sidB corrige_print">
                
                <% for(let i=customOptions.softSkillsLength; i < skills.softSkills.length ; i++) { %>

                  <div class="mb-3"><span class="fw-bolder"><%= skills.softSkills[i].tech %></span>
                    <div class="progress my-2 rounded rounded-border" style="height: 20px">
                      <div class="progress-bar <%= skills.softSkills[i].style %>" role="progressbar" data-aos="zoom-in-right" data-aos-delay="1700"
                        data-aos-anchor=".skills-section" style="width: <%= skills.softSkills[i].width %>;" aria-valuenow="<%= skills.softSkills[i].ariaValueNow %>" aria-valuemin="0"
                        aria-valuemax="100"><%= skills.softSkills[i].level %></div>
                    </div>
                  </div>
              
                <% } %>

              </div>
            </div>
          </div>
        </div>
        <div class="shadow-1-strong bg-white my-5 p-5" id="experience">
          <div class="work-experience-section">
            <h2 class="h2 fw-light mb-4">Work Experience</h2>
            <div class="timeline">


              <% for(let i=0; i< experience.length; i++) { %>
                <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="0">
                  <div class="timeline-head px-4 pt-3">
                    <div class="h5">
                      <%= experience[i].office %> <span class="text-muted h6">at <%= experience[i].company %></span>
                    </div>
                  </div>
                  <div class="timeline-body px-4 pb-4">
                    <div class="text-muted text-small mb-3">
                      <%= experience[i].dateStart %> - <%= experience[i].dateEnd %>
                    </div>
                    <% for(let j=0; j < experience[i].jobDescription.length; j++) { %>
                      <div>
                        <%= experience[i].jobDescription[j] %>
                      </div>
                      <% } %>
                  </div>
                </div>
                <% } %>

            </div>
          </div>
        </div>
        <div class="shadow-1-strong bg-white my-5 p-5" id="education">
          <div class="education-section">
            <h2 class="h2 fw-light mb-4">Education</h2>
            <div class="timeline">

              <% for(let i=0; i< academic.length; i++) { %>
                <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="0">
                  <div class="timeline-head px-4 pt-3">
                    <div class="h5">
                      <%= academic[i].name %> <span class="text-muted h6">
                          <%= academic[i].school %>
                        </span>
                    </div>
                  </div>
                  <div class="timeline-body px-4 pb-4">
                    <div class="text-muted text-small mb-3">
                      <%= academic[i].dateStart %> - <%= academic[i].dateEnd %>
                    </div>
                    <div>
                      <%= academic[i].about %>
                    </div>
                  </div>
                </div>
                <% } %>

            </div>
          </div>
        </div>
        <div class="shadow-1-strong bg-white my-5 p-5" id="qualifications">
          <div class="qualifications-section">
            <h2 class="h2 fw-light mb-4">Qualifications</h2>
            <div class="timeline">
              <div class="row">
             
                <div class="col-md-6 sidA">

                  <% for(let i=0; i < customOptions.qualiLentgh; i++) { %>
                    <div class="timeline-card timeline-card-success data-aos=" data-aos="fade-in" data-aos-delay="0">
                      <div class="timeline-head px-4 pt-3">
                        <i class='iconQuali <%= qualifications[i].icon %>'></i>
                        <div class="h6">
                          <%= qualifications[i].name %> <span class="text-muted h6">
                              <%= qualifications[i].school %>
                            </span>
                        </div>
                      </div>
                      <div class="timeline-body px-4 pb-4">
                        <div class="text-muted text-small mb-3">
                          <%= qualifications[i].dateEnd %>
                        </div>
                      </div>
                    </div>
                    <% } %>

                </div>
               
                <div class="col-md-6 sidB">
    
                  <% for(let i=customOptions.qualiLentgh; i < qualifications.length; i++) { %>
                    <div class="timeline-card timeline-card-success data-aos=" data-aos="fade-in" data-aos-delay="0">
                      <div class="timeline-head px-4 pt-3">
                        <i class=' iconQuali <%= qualifications[i].icon %> '></i>
                        <div class="h6">
                          <%= qualifications[i].name %> <span class="text-muted h6">
                              <%= qualifications[i].school %>
                            </span>
                        </div>
                      </div>
                      <div class="timeline-body px-4 pb-4">
                        <div class="text-muted text-small mb-3">
                          <%= qualifications[i].dateEnd %>
                        </div>
                      </div>
                    </div>
                    <% } %>

                </div>
             
              </div>
            

            </div>
          </div>
        </div>
        <!-- <div class="shadow-1-strong bg-white my-5 p-5 d-print-none" id="portfolio">
          <div class="portfolio-section">
            <h2 class="h2 fw-light mb-4">Portfolio</h2>
            <div class="row g-0">
              <div class="col-md-6"><a href="#" target="_blank"><img class="img-fluid"
                    src="/assets/images/project-1.jpg" width="800" height="500" /></a></div>
              <div class="col-md-6 d-flex align-items-center" data-aos="fade-left" data-aos-delay="100">
                <div class="m-4 mt-md-2">
                  <p class="text-teal text-small">Frontend / HTML / CSS / JavaScript</p>
                  <h3>Photo Agency Website</h3>
                  <p class="text-muted">Built highly performant website front end for a Photography agency. Delivered
                    codebase in HTML, CSS and modern JavaScript.</p>
                </div>
              </div>
            </div>
            <div class="row g-0 portfolio-reverse">
              <div class="col-md-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                <div class="m-4 mt-md-2 text-end">
                  <p class="text-teal text-small">Graphic Design / Photoshop / Sketch</p>
                  <h3>Restaurant Website Design</h3>
                  <p class="text-muted">Web design for popular resturant chain involving complex layouts done in both
                    Photoshop and Sketch. Collaborated with back-end and front-end team for finished product.</p>
                </div>
              </div>
              <div class="col-md-6"><a href="#" target="_blank"><img class="img-fluid"
                    src="/assets/images/project-2.jpg" width="800" height="500" /></a></div>
            </div>
            <div class="row g-0">
              <div class="col-md-6"><a href="#" target="_blank"><img class="img-fluid"
                    src="/assets/images/project-3.jpg" width="800" height="500" /></a></div>
              <div class="col-md-6 d-flex align-items-center" data-aos="fade-left" data-aos-delay="100">
                <div class="m-4 mt-md-2">
                  <p class="text-teal text-small">Frontend / HTML / CSS / JavaScript</p>
                  <h3>E-Commerce Website</h3>
                  <p class="text-muted">Built highly performant website for an E-commerce Portal. Worked with back-end
                    team to timely deliver codebase in HTML, CSS and modern JavaScript.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shadow-1-strong bg-white my-5 p-5" id="references">
          <div class="reference-section">
            <h2 class="h2 fw-light mb-4">References</h2>
            <div class="row">
              <div class="col-md-6">
                <div class="d-flex mb-2">
                  <div class="avatar"><img src="/assets/images/reference-image-1.jpg" width="60" height="60" /></div>
                  <div class="header-bio m-3 mb-0">
                    <h3 class="h6 mb-1" data-aos="fade-left" data-aos-delay="0">Aiyana</h3>
                    <p class="text-muted text-small" data-aos="fade-left" data-aos-delay="100">CEO / Web Design Company
                    </p>
                  </div>
                </div>
                <div class="d-flex"><i class="text-secondary fas fa-quote-left"></i>
                  <p class="lead mx-2" data-aos="fade-left" data-aos-delay="100">Lucas displays exemplary
                    professionalism and is able to take on challenges. He learns quickly and is an asset to any team.
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex mb-2">
                  <div class="avatar"><img src="/assets/images/reference-image-2.jpg" width="60" height="60" /></div>
                  <div class="header-bio m-3 mb-0">
                    <h3 class="h6 mb-1" data-aos="fade-left" data-aos-delay="0">Alexander</h3>
                    <p class="text-muted text-small" data-aos="fade-left" data-aos-delay="100">Front-end Developer / Web
                      Design Company</p>
                  </div>
                </div>
                <div class="d-flex"><i class="text-secondary fas fa-quote-left"></i>
                  <p class="lead mx-2" data-aos="fade-left" data-aos-delay="100">Lucas is a great co-worker and problem
                    solver. He is quick to extend his helping hand and makes a good team player.</p>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="shadow-1-strong bg-white my-5 p-5 d-print-none" id="contact">
          <div class="education-section">
            <h2 class="h2 fw-light text mb-4">Contact</h2>
            <div class="row mb-4">
              <div class="col-md-5" data-aos="fade-left" data-aos-delay="200">
                <div class="mt-1">
                  <div class="h6"><i class="fas fa-phone pe-2 text-muted" style="width:24px;opacity:0.85;"></i>
                    +55 <%=contact.ddd%>
                      <%=contact.cell%>
                  </div>
                  <div class="h6"><i class="far fa-envelope pe-2 text-muted" style="width:24px;opacity:0.85;"></i>
                    <%= contact.devEmail %></div>
                </div>
                <div class="mt-5 d-print-none">
                  <form method="POST">
                    <div class="form-outline mb-4">
                      <input type="text" id="name" name="name" class="form-control" required/>
                      <label class="form-label" for="name">Name</label>
                    </div>
                    <div class="form-outline mb-4">
                      <input type="email" id="email" name="email" class="form-control" required />
                      <label class="form-label" for="email">Email address</label>
                    </div>
                    <div class="form-outline mb-4">
                      <textarea class="form-control" name="message" style="resize: none;" id="message" rows="4" required></textarea>
                      <label class="form-label" for="message">Message</label>
                    </div>

                    <!-- temporary solution -->
                    <% if(message) { %>
                      <div class="alert alert-<%= message.type %> text-center">
                        <strong><%= message.intro %></strong><%= message.message %>
                      </div>
                    <% } %>
                    
                    <button class="btn btn-info btn-block mb-4" type="submit">Send</button>
                  </form>
                </div>
              </div>
              <div class="col-sm-12 col-md-7 d-print-none hideMAP" data-aos="zoom-in" data-aos-delay="100"><iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1110.8855826309593!2d-47.42930311193596!3d-20.52430439922774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b0a7a27772f68d%3A0xb59f90f3b5247c78!2sR.%20%C3%82ngelo%20Guaraldo%20-%20Vila%20S%C3%A3o%20Sebasti%C3%A3o%2C%20Franca%20-%20SP%2C%2014406-679!5e0!3m2!1spt-BR!2sbr!4v1627464572755!5m2!1spt-BR!2sbr"
                  width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a id="back2Top" class="btn ripple-surface" title="Back to top" href="#">&#10148;</a>
  <footer class="pt-4 pb-4 text-muted text-center d-print-none">
    <div class="container">
      <div class="my-3">
        <div class="h4"><%= contact.name %></div>
        <div class="footer-nav">
          <nav role="navigation">
            <ul class="nav justify-content-center">
              <li class="nav-item"><a class="nav-link" href="<%= contact.socialNetwork.linkedIn %>" title="LinkedIn"><i class="fab fa-linkedin"></i><span
                    class="menu-title sr-only">LinkedIn</span></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="<%= contact.socialNetwork.gitHub %>" title="Github"><i class="fab fa-github"></i><span
                    class="menu-title sr-only">Github</span></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="text-small">
        <div class="mb-1">&copy; Material Resume. All rights reserved.</div>
        <div>Design - <a href="https://templateflip.com/" target="_blank">TemplateFlip</a></div>
        <div>Custom - <a href="https://github.com/lucasdepessoa/curriculum" target="_blank">@lucasdepessoa</a></div>
      </div>
    </div>
  </footer>
  <script src="/assets/scripts/jquery-3.6.0.min.js"></script>
  <script src="/assets/scripts/mdb.min.js"></script>
  <script src="/assets/scripts/aos.js"></script>
  <script src="/assets/scripts/main.js"></script>
  
 
</body>

</html>